body {
	text-align: center;
}
header {
	margin-bottom: 60px;
}
.align-center {
	text-align: center;
}
.dice {
	width: 100px;
	height: 100px;
	background: url("/dice.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 300%;
}
.dice-1 {
	background-position: 0 0;
}
.dice-2 {
	background-position: -100px 0;
}
.dice-3 {
	background-position: -200px 0;
}
.dice-4 {
	background-position: 0 -100px;
}
.dice-5 {
	background-position: -100px -100px;
}
.dice-6 {
	background-position: -200px -100px;
}

ul li {
	float: left;
	list-style-type: none;
}

