<head>
	<title>Dice Roller</title>
</head>

<body>
	<header>
		<h1>Dice Roller</h1>	
	</header>
	<div class="container">
		{{>main}}	
	</div>
</body>

<template name="main">
	{{#if loading}}
	loading
	{{else}}  
		{{{page}}}
	{{/if}}
</template>

<template name="welcomePage">
	<button id="create-new-room" class="btn btn-primary">Create new room</button>
	<p>or</p>
	<div class="input-append">
		<input id="input-room-id" class="align-center" type="text" placeholder="Enter existing room id"/>
		<button id="join-existing-room" class="btn">Join!</button>	
	</div>
</template>

<template name="roomPage">

	Room
	{{roomId}}
	<button id="roll" class="btn">Roll!</button>
	<div class="dice dice-{{lastRoll.value}}"/>
	
	
	<ul>
	{{#each rolls}}
		 <li><div class="dice dice-{{this.value}}"/></li> 
	{{/each}}
	</ul>
</template>

<template name="errorPage">
	<p>{{message}}</p>
	<p>Go to <a href="/">Homepage</a></p>
</template>